<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="url" value="https://org40428ab9.crm4.dynamics.com/XRMServices/2011/Organization.svc" />
		<add key="method" value="ClientSecret" />
		<add key="mfaAppId" value="c505ceed-17ad-4d8b-9306-0a87c82bd4d4" />
		<add key="mfaClientSecret" value="t2d8Q~lbI2_HJt1odGxAEQmu6A1_V_F9cumlvaRA" />
		<add key="solutions" value="NorriqDataVerseEventsCustomizations" />
		<add key="entities" value=""/>
		<add key="servicecontextname" value="XrmContext" />
		<add key="out" value="../Models" />
		<add key="onefile" value="true" />
		<add key="namespace" value="Norriq.DataVerse.EventsManager.XrmContext.Models" />
	</appSettings>
</configuration>